* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	user-select: none;
}

body {
	background-color: var(--primary);
	font: 16px/1.5 'Roboto', sans-serif;
}
