:root {
	--primary: #242424;
	--primary-hover: #2D2D2D;
	--secondary: #303030;
	--tertiary: #454545;
	--tertiary-disabled: #343434;
	--color: #3584E3;
	--color-washed: #28374B;
	--color-disabled: #505050;
	--invert: invert(0);
	--text: #f5f5f5;
}

:root[data-theme='light'] {
	--primary: #f5f5f5;
	--primary-hover: #e8e8e8;
	--secondary: #e0e0e0;
	--tertiary: #d5d5d5;
	--tertiary-disabled: #e6e6e6;
	--color: #3584E3;
	--color-washed: #a4b5cb;
	--color-disabled: #a8b0ba;
	--invert: invert(1);
	--text: #242424;
}
:root[data-theme='amoled'] {
	--primary: #000;
	--primary-hover: #0a0a0a;
	--secondary: #050505;
	--tertiary: #1a1a1a;
	--tertiary-disabled: #1e1e1e;
	--color: #3584E3;
	--color-washed: #28374B;
	--color-disabled: #505050;
	--invert: invert(0);
	--text: #f5f5f5;
}
:root[data-theme='candy'] {
	--primary: #FFEBF4;
	--primary-hover: #ffe4ed;
	--secondary: #F2DBE9;
	--tertiary: #f5d4d4;
	--tertiary-disabled: #d5d5d5;
	--color: #fc82bd;
	--color-washed: #ffc8e4;
	--color-disabled: #f2a7cb;
	--invert: invert(1);
	--text: #242424;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	background-color: transparent;
	user-select: none;
}

body {
	background-color: var(--primary);
	font: 16px/1.5 'Roboto', sans-serif;
}
